<div class="container">
	<h1 class="text-center"><%= @group.name.capitalize %> Details</h1>
	<hr />
	<h2>
		GROUP USERS 
		<%= link_to "Delete This Group", group_path(@group), method: :delete, data: {confirm: 'Are You Sure?'}, class: 'btn btn-sm btn-danger' %>
	</h2>
	<table class="table">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Role</th>
		</tr>
		<% @group.group_users.each do |group_user| %>
			<tr>
				<td><%= group_user.user.first_name %></td>
				<td><%= group_user.user.last_name %></td>
				<td><%= group_user.role.capitalize %></td>
			</tr>
		<% end %>
	</table>
</div>
